

:root {
    --bigscreennavheight: 4rem;
    --smallscreennavheight: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(70, 170, 140);
    color: #FFF;
    height: var(--bigscreennavheight);
    padding: 1rem;
}

.menu {
    position: absolute;
    top: 0;
    margin-top: 4rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 170, 140);
}

.menu > li {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #FFF;
}

.menu > li > a {
    color: #FFF;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: rgb(44, 102, 85);
}

#menu-toggle {
    display: none;
}

#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s;
    }

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: all 0.5s;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: all 0.5s;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(10220deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-10220deg);
}

.sibling-fade {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
}

.sibling-fade button {
    border: none; 
    color: black;
    padding: 15px;
    margin: 5px;
    width: 300px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition-duration: 0.3s;
}

.sibling-fade:hover span:not(:hover){
    opacity: 0.5;
}

.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 20px;
    height: auto;
    width: 100vw;
    background-color: black;
    color: #FFF;
    text-align: center;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;

    transition: color .4s ease;

}

.socials a:hover i{
    color:rgb(70, 170, 140) ;
}
.footer-bottom{
    display: flex;
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    justify-content: space-between;
    
}
.footer-menu a{
    text-decoration: none ;
    color: #FFF;
    padding: 20px;
}
/* For laptop screens and bigger */
@media screen and (max-width: 1920px) {

}

/* For tablet sized screens */
@media screen and (max-width: 768px) {
    .sibling-fade {
        
    }
}

/* For smartphone sized screens */
@media screen and (max-width: 480px) {
    header {
        height: var(--smallscreennavheight);
    }

    .menu {
        margin-top: var(--smallscreennavheight);
    }

}

