:root {
    --bigscreennavheight: 6rem;
    --smallscreennavheight: 3rem;
    --headercolor: rgb(70, 170, 140);
    --activecolor: rgb(44, 102, 85); 
    --footercolor: #cfcfc4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#body-relative {
    position: relative;
    min-height: 100vh;
    
}

#body-content {
    padding-bottom: 280px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headercolor);
    color: #FFF;
    height: var(--bigscreennavheight);
    padding: 1rem;
}

.active {
    background-color: var(--activecolor);
}

.logo {
    width: 40ch;
    height: 20ch;
    margin-top:0ch;
}


.search input[type=submit] {
    background-color: var(--activecolor);
    border: none;
    color: #FFF;
    padding: 5px;
    margin: 0 5px;
}

.search input[type=search] {
    width: 148px;
    padding: 5px 0;
    border: none;
}

.menu {
    position: absolute;
    top: 0;
    margin-top: var(--bigscreennavheight);
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--headercolor);
}

.menu > li {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #FFF;
}

.menu > li > a {
    color: #FFF;
}

.menu > li:hover {
    background-color: var(--activecolor);
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#menu-toggle {
    display: none;
}

#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s;
    }

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: all 0.5s;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: all 0.5s;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(10220deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-10220deg);
}

/* start - För vägledare */
main.m-guide {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
    margin: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
div.d-guide {
    width: 90%;
    font-size: 100%;
    text-align: left;
    top: auto;
}
.name-guide {
    font-size: 2em;
    padding: 20px;
}
.preamble-guide {
    font-size: 1.5em;
}
p.p-guide {
    font-size: 1em;
    
}
a.a-guide:link {
    color: #470ae2;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}
a.a-guide:visited {
    color: rgb(233, 28, 38);
}
a.a-guide:hover {
    font-size: 110%;
}
img.align-right {
    padding: 1px;
    float: right;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin: 5px;
}

/* Slut - För vägledare */

.sibling-fade {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center; 
    margin-top: 30px;
}

.sibling-fade button {
    border: none; 
    color: black;
    padding: 15px;
    margin: 5px;
    width: 300px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition-duration: 0.3s;
}

.sibling-fade:hover span:not(:hover){
    opacity: 0.5;
}

.grid-system {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: 102px auto;
    padding-top: 20px;
}

.grid-system div {
    margin: 1rem;
    justify-self: center;
    border-radius: 50%;
    background-color: none;
    height: 154px;
    width: 154px;
}

.container {
    position: relative;
    width: 50%;
    justify-self: center;
}

.image {
    opacity: 1;
    border-radius: 50%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    margin:auto;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: none;
    color: black;
    font-size: 12px;
    top: 75%
}

/* For about page */
.about {
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.video-about {
    width: 80%;
    height: auto;
    margin: auto;
}

.video-about iframe {
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sibling-fade-about {
    display: flex;
    flex-wrap: wrap;
    width: 80%;   
    justify-content: center; 
    margin: 30px auto;
}

.sibling-fade-about button {
    border: none; 
    color: #fff;
    background-color: var(--headercolor);
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 0.9rem;
    transition-duration: 0.3s;
}

.sibling-fade-about button:hover {
    background-color: var(--activecolor);
}

footer {
    position: absolute;
    bottom: 0px;
    padding-top: 20px;
    /* height: 280px; */
    width: 100%;
    background-color: var(--footercolor);
    color: #000;
    text-align: center;
}

.footer-menu {
    width: 33.33%;
}

.footer-menu a, p {
    text-decoration: none ;
    color: #000;
    padding: 20px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #000;
    border: 1.1px solid #000;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: 400ms ease;
}

.socials a:hover i{
    color: var(--headercolor);
}
.footer-bottom{
    display: flex;
    flex-wrap: wrap-reverse;
    background: var(--footercolor);
    margin: 0 auto;
    justify-content: space-between;
    justify-items:stretch;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--headercolor);
    color: #fff;
    padding: 12px 16px;
    min-width: 160px;
    border: none;
}

.dropbtn a {
    color: #FFF;
}

.dropup-lang {
    color: var(--headercolor);
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 160px;
    bottom: 40px;
}

.dropup-lang a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    background-color: var(--headercolor);
    color: #fff;
}

.dropup-lang a:hover {
    background-color: var(--activecolor);
    color: #fff;
}

.dropup:hover .dropup-lang {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: var(--activecolor);
}


/* For laptop screens and bigger */
@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1024px) {
    .grid-system {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For tablet sized screens */
@media screen and (max-width: 768px) {

    #body-content {
        padding-bottom: 340px;
    }

    .logo {
        width: 30ch;
        height: 15ch;
        margin-top:0ch;
        }

    .search input[type=search] {
        width: 38px;
    }

    .grid-system {
        grid-template-columns: repeat(2, 1fr);
    }

    .last-container {
        grid-row: 8;
        grid-column: span 2;
    }

    /* For about page only */
    .video-about {
        width: 90%;
    }

    .sibling-fade-about {
        margin: 30px auto;
    }

    .sibling-fade-about button {
        width: 450px;
    }

    .footer-bottom{
        margin: 10px auto;
        justify-content: center;
    }
    
    .footer-menu {
        width: 100%;
    }

    /* For guide page only */
    div.d-guide {
        width: 95%;
        text-align: center;
    }

    img.align-right {
        padding: 1px;
        margin: auto;
        float: none;
        height: auto;
        
    }

    a.a-guide:link {
        float: none;
    }

}

/* For smartphone sized screens */
@media screen and (max-width: 480px) {
    header {
        height: var(--smallscreennavheight);
        padding: 2rem 1rem;
    }

    .menu {
        margin-top: var(--smallscreennavheight);
    }

    .grid-system {
        margin-top: 10px;
    }
    
    /* For about page only */
    .sibling-fade-about button {
        width: 300px;
    }

}
